# data folders
data/

# output files
fastp/
minimap2/
samtools/
consensus/
error_rates.csv
fastp.json

# images
images/

# log files
logs/

# miscellaneous
.snakemake/
workflow/scripts/test.py
.keras/
.vscode/
